
<div class="w3-container w3-center w3-content" style="max-width:600px">
        <h2 class="w3-wide">Welcome admin</h2>
        <p class="w3-opacity"><i>The Learning Through Activity Management System</i></p>
</div>
      

<!-- Slide Show -->
<div>
  <img class="mySlides" src="https://www.guiainfantil.com/uploads/educacion/ninos-distintas-edades-p.jpg">
  <!-- <img class="mySlides" src="https://madreshoy.com/wp-content/uploads/2008/11/nenes-jugando.jpg"> -->
</div>




<!-- </body>
</html> -->

 