<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary"></mat-toolbar>
      <mat-card *ngIf="user">
          <img mat-card-lg-image [src]="user.image || defaultImageUrl" >
          <mat-card-title>
            {{user.name }}
          </mat-card-title>
        </mat-card>
        <mat-nav-list *ngIf="hasRole('LECTURER,STUDENT')">
            <h3 mat-subheader>Student</h3>
            <a style="margin-left:30px;" mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
            <a style="margin-left:30px;" mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active">Add</a>
            <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" [routerLink]="['/enrollAct']" routerLinkActive="router-link-active" >Enrollment</a>
            <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" [routerLink]="['/listActivity']" routerLinkActive="router-link-active" >Activity</a>
            <a style="margin-left:30px;" mat-list-item [matMenuTriggerFor]="menu">View</a>
            <mat-menu #menu="matMenu">
              <div *ngFor="let student of students$ | async">
                <a mat-menu-item style="text-decoration:none" [routerLink]="['detail',student.id]" routerLinkActive="router-link-active"
                  [routerLinkActiveOptions]="{ __change_detection_hack__: [ id ] }">
                  {{student.name}}</a>
              </div>
              <!-- <a mat-menu-item style="text-decoration:none">Item 2</a> -->
            </mat-menu>
          </mat-nav-list>
          <mat-nav-list *ngIf="hasRole('LECTURER')">
            <h3 mat-subheader>Course</h3>
            <a style="margin-left:30px;" mat-list-item [routerLink]="['course','list']" routerLinkActive="router-link-active">List</a>
            <a style="margin-left:30px;" mat-list-item [routerLink]="['course','add']" routerLinkActive="router-link-active">Add</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Learning Through Activity Management System (LTAS)</span>
          </mat-toolbar>
          <main>
            <router-outlet></router-outlet>
          </main>
        </mat-sidenav-content>
      </mat-sidenav-container>


    <!-- <mat-sidenav-content>
      <mat-toolbar color="primary" *ngIf="isFirstpage">
        <nav class="nav">
          <div class="container">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="!isLogin && !isLoginAdmin && isFirstpage ">
            <i class="fa fa-home w3-xxlarge"></i>
              <span>Log in</span>
          </a>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLogin">
            <i class="fa fa-home w3-xxlarge"></i>
              <span>Log out</span>
          </a>
          <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="!isLogin && !isLoginAdmin && isFirstpage ">
            <i class="fa fa-user w3-xxlarge"></i>
            <span>Register</span>
          </a>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLogin">
            <i class="fa fa-user w3-xxlarge"></i>
            <span>Profile</span>
          </a>
          <a [routerLink]="['teacher']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="!isLogin && !isLoginAdmin && isFirstpage">
              <i class="fa fa-group w3-xxlarge"></i>
              <span>Teacher Log in</span>
            </a>
            <a [routerLink]="['/listEnroll']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLogin">
                <i class="fa fa-group w3-xxlarge"></i>
                <span>List of Activity</span>
              </a>
              <a [routerLink]="['/enrollAct']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLogin">
                  <i class="fa fa-key w3-xxlarge"></i>
                  <span>Enrollment</span>
                  </a>
            <a [routerLink]="['/admin']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="!isLogin && !isLoginAdmin && isFirstpage">
              <i class="fa fa-key w3-xxlarge"></i>
              <span>Admin Log in</span>
            </a>
            <a [routerLink]="['/admin']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLoginAdmin" (click)="logoutAdmin()" >
              <i class="fa fa-key w3-xxlarge"></i>
              <span>Admin Log out</span>
            </a>
            <a [routerLink]="['/listActivity']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLoginAdmin" >
              <i class="fa fa-key w3-xxlarge"></i>
              <span>Activity List</span>
            </a>
            <a [routerLink]="['/registerActivity']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLoginAdmin" >
              <i class="fa fa-key w3-xxlarge"></i>
              <span>Add Activity</span>
              </a>
              
            <a [routerLink]="['detail/:id']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf="isLoginAdmin"  >
              <i class="fa fa-key w3-xxlarge" ></i>
              <span>View Activity</span>
            </a> 
            
            <a [routerLink]="['/checkStudent']" routerLinkActive="router-link-active" class="w3-bar-item w3-button w3-padding-large w3-hover-black" *ngIf=" isLoginAdmin" >
              <i class="fa fa-key w3-xxlarge"></i>
              <span>Check enroll students</span>
            </a>
            </div>
            </nav> -->
        <!-- <span>Learning Through Activity Management System (LTAS)</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content> -->
