<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <mat-toolbar class="login100-form-title" style="background-image: url('assets/playtime.jpg');">
      </mat-toolbar>

      <form class="login100-form validate-form">
          <span class="login100-form-title-1">
              Welcome To Login In
            </span>
            <mat-card-content>
            <div class="wrap-input100 validate-input m-b-26" name="username" data-validate = "Username is required">
              <span class="label-input100">Username</span>
              <input matInput class="input100" type="text" name="username" placeholder="Enter username" formControlName="username">
              <mat-error *ngFor="let validation of validation_messages.username">
                <mat-error class="error-message" *ngIf="addressForm.get('username').hasError(validation.type)"
                  [innerHTML]=validation.message>
                </mat-error>
              </mat-error>
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-18" name="password" data-validate = "Password is required" style="height: 50px">
              <span class="label-input100">Password</span>
              <input matInput class="input100" [type]="hide ? 'password' : 'text'" formControlName="password" name="pass" placeholder="Enter password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngFor="let validation of validation_messages.password">
                      <mat-error class="error-message" *ngIf="addressForm.get('password').hasError(validation.type)"
                        [innerHTML]=validation.message>
                      </mat-error>
                    </mat-error>
              <span class="focus-input100"></span>
            </div>
            </mat-card-content>
            <mat-card-actions>
                <mat-error *ngIf="isError">
                  <strong>The username, and password is incorrect</strong>
                </mat-error>
              </mat-card-actions>
                <div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" [disabled]="!addressForm.valid">
							Login
						</button>
					</div>
              <div class="container-login100-form-btn">
                  <button mat-raised-button class="Register100-form-btn" color="primary" onclick="location.href = 'http://localhost:4200/register'" name="register">
                    Register
                  </button>
                </div>
      </form>
    </div>
  </div>
</div>
</form>
