<mat-toolbar>
  <mat-toolbar-row>
    <span>Hello {{teachers.name}} {{teachers.surname}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="center">
  <mat-card class="img-width">
    <img mat-card-image [src]="teachers.image" [alt]="teachers.name">
  </mat-card>
  </div>

<form style="margin-left: 1em">

  <table class="full-width" cellspacing="0">
    <tr>
  <td>
  <mat-form-field class="full-width">
  <input matInput placeholder="Teacher's name" [value]="teachers.name" readonly>
  </mat-form-field>
    </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" [value]="teachers.surname" readonly>
        </mat-form-field>
      </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" [value]="teachers.username" readonly>
            </mat-form-field>
          </td>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Role" [value]="teachers.role" readonly>
            </mat-form-field>
          </td>
        </tr>
        <td>
        <tr>
          <td>
            <mat-form-field class="full-width">
            <input matInput placeholder="Subject" [value]="teachers.subject" readonly>
            </mat-form-field>
          </td>
       </tr>
    <!--
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" [value]="teachers.password" readonly>
        </mat-form-field>
      </td>
    </tr> -->
  </table>
</form>
