<mat-toolbar>
  <mat-toolbar-row>
    <span>Update activity</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em" #activityForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Activity Id" [value]="activity.activityId">
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Activity name" [value]="activity.name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Location" [value]="activity.location">
        </mat-form-field>
      </td>
    </tr>
    <mat-form-field class="full-width">
      <input matInput placeholder="Date" [value]="activity.date">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Time start" [value]="activity.time_start" >
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Time end" [value]="activity.time_end">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Teacher name" [value]="activity.teacher_name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Teacher_surname" [value]="activity.teacher_surname">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" [value]="activity.description"></textarea>
    </mat-form-field>
  </table>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Period of registration" [value]="activity.period_reg"></textarea>
  </mat-form-field>
  <!-- ที่เปนปุ่ม update หน้าที่จะแก้ข้อมูล -->
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!activityForm.form.valid">Update</button>
</div>

