<mat-toolbar>
  <mat-toolbar-row>
    <span>Student information</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="center">
  <mat-card class="img-width">
    <img mat-card-image [src]="student.image" readonly>
  </mat-card>
  </div>

<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="StudentId" [value]="student.studentId" readonly>
  </mat-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
  <td>
  <mat-form-field class="full-width">
  <input matInput placeholder="Student's name" [value]="student.name" readonly>
  </mat-form-field>
    </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" [value]="student.surname" readonly>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Birthday" [value]="student.birth" readonly>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
