<mat-toolbar>
    <mat-toolbar-row>
      <span>Activity</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Activity Id" [value]="activity.activityId" readonly>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Activity name" [value]="activity.name" readonly>
          </mat-form-field>
        </td>
      </tr>
      </table>
      <table class="full-width" cellspacing="0">
      <tr>
          <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Location" [value]="activity.location" readonly>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Date" [value]="activity.date" readonly>
          </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Time start" [value]="activity.time_start" readonly>
            </mat-form-field>
          </td>
          <td>
              <mat-form-field class="full-width">
               <input matInput placeholder="Time end" [value]="activity.time_end" readonly>
              </mat-form-field>
            </td>
      </tr>
    </table> 
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Teacher name" [value]="activity.teacher_name" readonly>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Teacher surname" [value]="activity.teacher_surname" readonly>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Period of registration" [value]="activity.period_reg" readonly></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="comment" [value]="activity.comment" readonly>
      </mat-form-field>

      <!-- <div>
        <mat-card class="img-width">
      <mat-card-header>
          <mat-card-title>Image</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="activity.image" [alt]="activity.name">
      </mat-card>
      </div> -->

      <div class="center">
        <button mat-raised-button color="primary" type="submit" (click)="delete(activity)">Delete</button>
    </div>
        

  </form>
