<div class="row justify-content-start">
    <div class="col-md-offset-3	 col-md-9">
      <div *ngFor="let activity of activitys">
        <div class="panel panel-primary  ">
          <div class="panel-heading">
            <h2 class="panel-title">{{ activity.id }}</h2>
          </div>
          <div class="panel-body row">
            <div class="col-md-4">
              <p class="activity-name"> {{activity. name | uppercase}} {{activity.location}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  