<mat-toolbar>
    <mat-toolbar-row>
      <span>Hello {{student.name}} {{student.surname}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em">
    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id" [value]="student.studentId" readonly>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" [value]="student.name" readonly>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="surname" [value]="student.surname" readonly>
          </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="birthday" [value]="student.birth" readonly>
              </mat-form-field>
          </td>
      </tr>
    </table>
    <div class="center">
    <mat-card class="img-width">
      <mat-card-header>
        <mat-card-title>Image</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="student.image" [alt]="student.name">
    </mat-card>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="email" [value]="student.username" readonly>
      </mat-form-field>
  </form>
