<mat-toolbar>
      <span>Register</span>
  </mat-toolbar>

  <form style="margin-left: 1em" #studentForm="ngForm" [formGroup]="sf">
    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id" name="studentId" required formControlName="studentId">
      <mat-error *ngFor="let validation of validation_messages.studentId">
        <mat-error class="error-message"
        *ngIf="sf.get('studentId').hasError(validation.type) &&
        (sf.get('studentId').dirty ||
        sf.get('studentId').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" name="name" required formControlName="name">
            <mat-error *ngFor="let validation of validation_messages.name">
                <mat-error class="error-message"
                *ngIf="sf.get('name').hasError(validation.type) &&
                (sf.get('name').dirty ||
                sf.get('name').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Surname" name="surname" required formControlName="surname">
            <mat-error *ngFor="let validation of validation_messages.surname">
                <mat-error class="error-message"
                *ngIf="sf.get('surname').hasError(validation.type) &&
                (sf.get('surname').dirty ||
                sf.get('surname').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
      <input matInput placeholder="file name" name="image" formControlName="image" required>
      <mat-error *ngFor="let validation of validation_messages.image">
          <mat-error class="error-message"
          *ngIf="sf.get('image').hasError(validation.type) &&
          (sf.get('image').dirty ||
          sf.get('image').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Birthday" name="birth" required formControlName="birth" required>
            <mat-error *ngFor="let validation of validation_messages.birth">
                <mat-error class="error-message"
                *ngIf="sf.get('birth').hasError(validation.type) &&
                (sf.get('birth').dirty ||
                sf.get('birth').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
    </div>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="username" name="username" formControlName="username" required></textarea>
        <mat-error *ngFor="let validation of validation_messages.username">
            <mat-error class="error-message"
            *ngIf="sf.get('username').hasError(validation.type) &&
            (sf.get('username').dirty ||
            sf.get('username').touched)">{{validation.message}}</mat-error>
          </mat-error>
          </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="password" name="password" formControlName="password" required></textarea>
        <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="error-message"
            *ngIf="sf.get('password').hasError(validation.type) &&
            (sf.get('password').dirty ||
            sf.get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
      </mat-form-field>
    <div class="center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid" (click)="onSubmitRegisStudent()">Register</button>
    </div>
  </form>
